@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '../../node_modules/toastr/build/toastr.min.css';
@import 'nice-select2/nice-select2.css';

html {
    scroll-behavior: smooth;
}

main {
    background-color: #ecf0f5;
}

h1 {
    font: var(--default-font-bolder);
    font-size: 25px;
    line-height: 27px;
    color: #0a0a0a;
    opacity: .66;
    margin: 0;
}

h2 {
    font-size: 20px !important;
}

h3 {
    font-size: 15px !important;
}

h2, h3 {
    font: var(--default-font-bolder);
    line-height: 27px;
    color: #0a0a0a;
    opacity: .66;
    margin: 0;
}

input:-moz-read-only { /* For Firefox */
    background-color: #ecf0f5;
}

input:read-only {
    background-color: #ecf0f5;
}

:root {
    --default-font: normal normal normal 1rem Arial;
    --default-font-bolder: normal normal bold 1rem Arial;
}

.btn {
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    font: normal normal normal 16px/25px Arial;
    letter-spacing: 0px;
    min-width: 88px;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
    border-radius: 10px;
    text-align: center;
    font: normal normal normal 16px/25px Arial;
    letter-spacing: 0;
    min-width: 88px;
}

.btn-transition {
    @apply inline-block transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 cursor-pointer;
}

.btn-transition-warning {
    @apply inline-block text-yellow-500 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 cursor-pointer;
}

.btn-transition-danger {
    @apply inline-block text-red-500 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 cursor-pointer;
}

.btn-transition-secondary {
    @apply inline-block text-gray-500 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 cursor-pointer;
}

.btn-transition-primary {
    @apply inline-block text-blue-500 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 cursor-pointer;
}

.btn-transition-success {
    @apply inline-block text-green-500 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 cursor-pointer;
}

.btn-transition-dark {
    @apply inline-block text-black transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 cursor-pointer;
}

.btn-primary {
    @apply items-center px-4 py-2 border border-transparent rounded-md text-white uppercase tracking-widest hover:bg-green-700 active:bg-green-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition;
    background-color: #005E10;
    border: 0px;
}

.btn-outline-info {
    @apply inline-block bg-transparent hover:bg-blue-500 text-blue-500 font-semibold hover:text-white py-1 px-4 border border-blue-500 hover:border-transparent rounded-lg;
}

.btn-outline-secondary {
    @apply inline-block bg-transparent hover:bg-gray-500 text-gray-500 font-semibold hover:text-white py-1 px-4 border border-gray-500 hover:border-transparent rounded-lg;
}

.btn-outline-warning {
    @apply inline-block bg-transparent hover:bg-yellow-500 text-yellow-500 font-semibold hover:text-white py-1 px-4 border border-yellow-500 hover:border-transparent rounded-lg;
}

.btn-outline-danger {
    @apply inline-block bg-transparent hover:bg-red-500 text-red-500 font-semibold hover:text-white py-1 px-4 border border-red-500 hover:border-transparent rounded-lg;
}

.btn-outline-success {
    @apply inline-block bg-transparent hover:bg-green-500 text-green-500 font-semibold hover:text-white py-1 px-4 border border-green-500 hover:border-transparent rounded-lg;
}

.custom-select.no-border {
    border-radius: 0 !important;
    @apply border-yellow-500;
}

.no-border {
    @apply border-t-0 border-r-0 border-l-0 focus:outline-none focus:ring-0 focus:border-black pt-0 pb-0 !important;
}

.form-input, .custom-select {
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border: 1px solid #C4C4C4;
    border-radius: 0.375rem;
}

.form-checkbox {
    background: #FBFBFB 0% 0% no-repeat padding-box;
    border: 1px solid #C4C4C4;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    height: 1rem;
    width: 1rem;
    color: #3f83f8;
    background-color: #fff;
    border-color: #d2d6dc;
    border-width: 1px;
    border-radius: .25rem;
}

#password-validation {
    margin-top: 1rem;
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
}

#password-validation ul {
    font: var(--default-font);
    color: #707070;
}

.valid-password-role {
    color: green;
}

.valid-password-role:before {
    padding-right: 1rem;
    content: "✔";
}

.invalid-password-role {
    color: red;
}

.invalid-password-role:before {
    padding-right: 1rem;
    content: "✖";
}

.sidebar {
    background-color: rgb(0, 94, 16);
}

.sidebar a.active, .sidebar .submenu.active  {
    background-color: #93c79c;
}

.sidebar a {
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
    text-decoration: none;
    @apply block px-4 py-2 text-white hover:text-white focus:text-white focus:outline-none;
}

.sidebar .submenu {
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
    text-decoration: none;
    @apply flex flex-row items-center w-full px-4 py-2 text-left bg-transparent md:block text-white hover:text-white focus:text-white focus:outline-none;
}

.sidebar .submenu a:hover,  .sidebar a:hover, .sidebar .submenu:hover {
    background-color: #93c79c !important;
}

.sidebar .submenu a:focus,  .sidebar a:focus, .sidebar .submenu:focus {
    background-color: #93c79c !important;
}

.sidebar .submenu a {
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
    text-decoration: none;
    @apply block px-4 py-2 bg-transparent md:mt-0 text-white hover:bg-green-500 focus:bg-white focus:outline-none;
}

.filter-container {
    background: hsla(0,0%,76.9%,.16);
    border-radius: 10px;
    @apply mx-4 px-3 py-2 flex mt-4;
}

.table .thead-light th {
    color: #313131;
    background-color: hsla(0,0%,76.9%,.16);
    border-color: hsla(0,0%,76.9%,.16);
}

.table tr>th {
    cursor: pointer;
    vertical-align: middle;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table tfoot, .table tfoot td {
    background-color: #005e10;
}

.table tfoot td {
    color: #FFF;
    text-transform: uppercase;
    font-weight: bolder;
    white-space: nowrap;
}

.badge {
    @apply inline-flex items-center justify-center px-2 py-1 mr-2 text-xs font-bold leading-none rounded-full;
}

.badge-success {
    @apply inline-flex items-center justify-center px-2 py-1 mr-2 text-xs font-bold leading-none text-green-100 bg-green-600 rounded-full;
}

.badge-light-success {
    @apply inline-flex items-center justify-center px-2 py-1 mr-2 text-xs font-bold leading-none text-gray-700 bg-green-200 rounded-full;
}

.badge-primary {
    @apply inline-flex items-center justify-center px-2 py-1 mr-2 text-xs font-bold leading-none text-blue-100 bg-blue-600 rounded-full;
}

.badge-light-primary {
    @apply inline-flex items-center justify-center px-2 py-1 mr-2 text-xs font-bold leading-none text-gray-700 bg-blue-200 rounded-full;
}

.badge-warning {
    @apply inline-flex items-center justify-center px-2 py-1 mr-2 text-xs font-bold leading-none text-yellow-100 bg-yellow-600 rounded-full;
}

.badge-light-warning {
    @apply inline-flex items-center justify-center px-2 py-1 mr-2 text-xs font-bold leading-none text-gray-700 bg-yellow-200 rounded-full;
}

.badge-danger {
    @apply inline-flex items-center justify-center px-2 py-1 mr-2 text-xs font-bold leading-none text-red-100 bg-red-600 rounded-full;
}

.badge-light-danger {
    @apply inline-flex items-center justify-center px-2 py-1 mr-2 text-xs font-bold leading-none text-gray-700 bg-red-200 rounded-full;
}

.dropdown-toggle:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.nice-select.has-multiple {
    height: auto !important;
    min-height: 41px;
    @apply p-2;
}

.nice-select.has-multiple .multiple-options span.current {
    line-height: 1rem !important;
    display: block;
    @apply mt-1;
}

.multiple-options {
    width: 88% !important;
}

[class^='point-items-'] {
    opacity: 0;
    visibility: collapse;
    -webkit-transition: visibility 0.2s linear,
    opacity 0.2s linear;
    -moz-transition: visibility 0.2s linear,
    opacity 0.2s linear;
    -o-transition: visibility 0.2s linear,
    opacity 0.2s linear;
}
[class^='point-items-'].active {
    visibility: visible;
    opacity: 1;
}

.table .thead-green th {
    background-color: #005e10;
    color: #fff;
    border-color: #005e10;
    text-align: left;
}

.table .header-fixed {
    position: -webkit-sticky;
    position: sticky;
    /*top: 8%;*/
    z-index: 1;
    background: #fff;
}

.reverse {
    top: auto !important;
    bottom:100% !important;
}

.pagination .current-page {
    background-color: #005e10;
    color: white;
}

.modal .btn-confirm {
    @apply  w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-green-600 text-base font-medium text-white hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 sm:ml-3 sm:w-auto sm:text-sm
}

.modal .btn-cancel {
    @apply   mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm
}


/*** ACCOUNTING TABLE **/
.accounting-table tr.featured {
    background-color: #005d0f12;
}

.accounting-table tr.featured td {
    color: #000;
    font-weight: bolder;
}

.accounting-table .view {
    margin: auto;
    width: calc(100vw - 21rem);
}

.accounting-table .wrapper {
    position: relative;
    overflow: auto;
    white-space: nowrap;
}

.accounting-table .wrapper::-webkit-scrollbar {
    width: 5px;
}

.accounting-table .wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.accounting-table .wrapper::-webkit-scrollbar-thumb {
    background: #888;
}

.accounting-table .wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.accounting-table table .sticky-col {
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
    border-top: 2px solid #dee2e6;
}

.accounting-table table tr td {
    padding: 0.4rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 12px;
}

.accounting-table table tr.featured .sticky-col {
    background-color: #edf4ee;
}

.accounting-table table tfoot .sticky-col {
    background-color: #005e10;
}

.accounting-table table .first-col {
    left: 0px;
}

.accounting-table table .second-col {
    left: 255px;
}

.accounting-table table .third-col {
    left: 362px;
}

.accounting-table table .fourth-col {
    left: 439px;
}

.accounting-table table .fifth-col {
    left: 405px;
}

.checkpoint-table td.header {
    background-color: #005e10;
    color: #FFF;
}

.edit-dre svg {
    visibility: hidden;
    opacity:0;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}

.edit-dre:hover svg {
    visibility: visible;
    opacity:1;
}

input[type='file'] {
}

.disablecel {
    background: #b8b9b9 !important;
    pointer-events: none !important;
}

#accounting_classifications_table tr td {
    transition: 500ms;
}

#accounting_classifications_table tr:hover td {
    background-color: rgb(0, 94, 16);
    color: #FFF;
}
